{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Genres</h1>
    <a href="{{ url_for('add_genre') }}" class="btn btn-success">+ Add Genre</a>
  </div>
    
  <ul class="list-group">
      {% for genre in genres %}
          <li class="list-group-item">
              <a href="{{ url_for('genre_movies', genre_name=genre.name) }}" class="text-dark text-decoration-none">
                  {{ genre.name }}
              </a>
          </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}
